@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;1,300&display=swap');
.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
.col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}

.gallery {  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px red;
}
 
#mx-auto d-block {
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 10px 18px red;

}	
.frame{
	width: 800px;
	height: 500px;
}
.row nobullets{
	margin-bottom:20px;
}
li{
	padding: 20px;
	margin-bottom:px;
}
.logo{
margin: 0 auto;
display:block;
}
.header{
	background-color:white;
}
.header{
	

}